<nav>
    <% if (user) { %>
      <h1>Welcome to the App! <%= user.username %></h1>
      <a href="/users/<%= user._id %>/applications">Your Applications</a> 
      <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
      <h1>Welcome to the app, guest.</h1>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
    <% } %>
  </nav>